html {
    position: relative;
  	min-height: 100%;
}

body {
  	background-color: #FFFF66;
}

.container {
    width: auto;
    max-width: 1000px;
    padding: 0 15px;
}

.section-header {
    border: solid black;
    margin-top: 3%;
}

.header-title {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 800%;
    margin-bottom: 0px;
    margin-top: 40px;
}

.header-subtitle {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
    font-size: 325%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.section-title {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 350%;
}

.section-content {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
    font-size: 200%;
}

.footer {
  	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 30px;
	background-color: black;
}

.container .text-muted {
	margin: 20px 0;
}

/* latin */
@font-face {
	font-family: 'Indie Flower';
	font-style: normal;
	font-weight: 400;
	src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}